<header class="mb-3 p-4 bg-dark text-light">
    <h2>Materiale</h2>
    <p>Deocamdata nu avem multe să vă arătăm, așa că ședeți blânzi și descărcați materialele pe care le-am facut cu mult drag și mare mare grijă.</p>
</header>
<div class="p-4">
    <div class="row">
        <section class="col-sm mb-3 mb-sm-0">
            <header><h4>Broșura</h4></header>
            <a href="/assets/download-files/brosura.pdf" class="btn btn-primary mt-1 mb-1"><i class="fa fa-download"></i> Descarcă broșura</a>
            <div class="explanation">Broșura este ideală pentru cei care doresc să citească doar minimul necesar pentru a asigura protecția locuinței lor.</div>
        </section>
        <section class="col-sm mb-3 mb-sm-0">
            <header><h4>Ghidul complet</h4></header>
            <a href="/assets/download-files/ghid.pdf" class="btn btn-primary mt-1 mb-1"><i class="fa fa-download"></i> Descarcă ghidul</a>
            <div class="explanation">
                Ghidul de prevenție conține toată informația pe care am compilat-o din surse oficiale și studii de specialitate.
                Înăuntru poți găsi și trimiteri către toate sursele pe care le-am utilizat.
            </div>
        </section>
    </div>
</div>
