<section class="guideWrapper">
    <div class="guideDescription">
        <h1 class="hidden-sm-up">Ce să faci ca să fii protejat</h1>
        <p>Te îngrijorează situația actuală și nu știi ce să faci? Nu vrei să te infectezi? Șezi blând, nu e motiv de îngrijorare.</p>
    </div>
    <a [routerLink]="'/materiale'" class="btn btn-primary"><i class="fa fa-angle-right"></i> Vezi materialele</a>
</section>
<div class="p-4">
    <h2>Care-i treaba?</h2>
    <div>
        <p>Păi treaba stă cam așa:</p>
        <p>
            La începutul pandemiei, din dorința de a ajuta
            persoanele cu mai puțin acces la informație,
            ne-am strâns și am alcătuit un ghid despre cum să te
            protejezi împotriva virusurilor. De acolo încolo
            am distilat informația în ceva mai digerabil și
            am pornit la drum spre a o promova.
        </p>
        <p>
            Uite așa am ajuns la ce vezi tu aici. Un site micuț
            pentru care am plătit domeniul și ne-am chinuit
            să îl terminăm repede. Acum e gata și am pus și
            materialele pe el. Planul e să tot adăugăm
            conținut ca să fie și mai util pentru noi toți.
        </p>
        <p>
            Sperăm din adâncul inimii că vă va fi măcar o
            țâră folositor. Multă sănătate!
        </p>
    </div>
</div>
