<header class="mb-3 p-4 bg-dark text-light">
    <h2>Contact</h2>
    <p>
        Înțelegem că poate nu am reușit să clarificăm tot.
        De aceea, dacă și după ce ai citit broșura sau ghidul complet
        mai ai intrebări, ne poți găsi la datele de contact de mai jos.
    </p>
</header>
<div class="p-4">
    <div class="row">
        <section class="col-sm mb-3 mb-sm-0">
            <header><h4>Facebook</h4></header>
            <div class="explanation">Probabil locul în care poți primi cel mai ușor informații. Suntem relativ activi și probabil vei primi un raspuns rapid.</div>
            <a href="https://www.facebook.com/sezibland.ro" class="mt-3"><i class="fa fa-facebook-official"></i> https://www.facebook.com/sezibland.ro</a>
        </section>
        <section class="col-sm mb-3 mb-sm-0">
            <header><h4>E-Mail</h4></header>
            <div class="explanation">Încă mai avem de lucru, așadar nu avem o adresă de e-mail. În clipa în care o avem, o vom trece aici. Mulțumim pentru înțelegere.</div>
            <a [routerLink]="'/contact'" class="mt-3"><i class="fa fa-envelope"></i> coming soon</a>
        </section>
    </div>
</div>
